In [35]:
import numpy as np
import pandas as pd

In [36]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_ids = test["PassengerId"]

In [37]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
def clean(data):
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    data.Embarked.fillna("U", inplace=True) # U is some location oter than S , C & Q
    return data

data = clean(data)
test = clean(test)

In [39]:
data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [40]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex" , "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
    
    #female = 0  / male = 1
    #c = 0 / q =1 / s = 2 / U = 3

['female' 'male']
['C' 'Q' 'S' 'U']

In [41]:
data.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [42]:
test.head(5)

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [44]:
y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train) 
# [max_iterint], default=100 - Maximum number of iterations taken for the solvers to converge.
# random_stateint, RandomState instance, default=None - Used when solver == ‘sag’, ‘saga’ or ‘liblinear’ to shuffle the data. See Glossary for details.
#https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [46]:
# 1 way -> clf & clf2

In [47]:
clf2 = Perceptron(random_state=0, max_iter=1000).fit(X_train, y_train)

In [48]:
predictions = clf.predict(X_val)          
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [49]:
predictions = clf2.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.7039106145251397

In [50]:
# way 2 -> model_acc

In [51]:
# menually created model checking sysytem !!
def model_acc(model):
    model.fit(X_train, y_train)
    acc = model.score(X_val, y_val)
    print(str(model)+'-->'+str(acc)) #acc = accuracy

In [52]:
from sklearn.linear_model import LinearRegression # (lr = LinearRegression)
lr = LinearRegression()
model_acc(lr)

LinearRegression()-->0.44253321448711735

In [53]:
# 2nd accuracy check WITH lASO
from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

Lasso()-->0.06981076390718977

In [54]:
# 3rd accuracy check with DecisionTreeRegressor

from sklearn.tree import DecisionTreeRegressor 
dt = DecisionTreeRegressor()
model_acc(dt)

DecisionTreeRegressor()-->0.12450173387673391

In [55]:
# 4th accuracy check with DecisionTreeRegressor

from sklearn.ensemble import RandomForestRegressor  
rf = RandomForestRegressor()
model_acc(rf)

RandomForestRegressor()-->0.4332829413343412

In [56]:
from sklearn.linear_model import LogisticRegression # (lor = LogisticRegression)
lor = LogisticRegression()
model_acc(lor)

LogisticRegression()-->0.8100558659217877

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [57]:
from sklearn.linear_model import Perceptron # ()
gl = Perceptron()
model_acc(gl)

Perceptron()-->0.7039106145251397

In [63]:
# 1st file

In [64]:
submission_pred = clf2.predict(test)

In [65]:
 df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Survived": submission_pred,})

In [66]:
df.to_csv("submission1.csv", index=False)

In [67]:
# 2nd file

In [58]:
submission_pred = clf.predict(test)

In [59]:
 df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Survived": submission_pred,})

In [60]:
df.to_csv("submission2.csv", index=False)